@media only screen and (max-width: 767.98px) {
  .page-nav {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  .address-mail {
    display: none;
  }
}
.effect-section{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/Effective-phone.jpg);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .effect-section {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
     url(../images/Effective-phone@2.jpg);
  }
}

/* aaaaaaa */















@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* Header */
  .header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
  }
  .page-nav {
    display: flex;
    gap: 40px;
    position: relative;
  }
  .menu-btn {
    display: none;
  }

  .page-list {
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
  }
  .mail-list {
    line-height: 0;
    display: flex;
  }
  .page-list:hover {
    color: #404bbf;
  }
  .page-list:focus {
    color: #404bbf;
  }

  .list-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .list-link::after {
    position: absolute;
    width: 100%;
    height: 4px;
    content: '';
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .mail-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .item-mail {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-mail:hover {
    color: #404bbf;
  }
  .item-mail:focus {
    color: #404bbf;
  }
  /* Header  END*/

  /* Effective Solutions */
  .effect-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/effective-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
  }
    @media screen and (min-width: 768px) {
      .effect-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/effective-tablet.jpg);
      }
    }
  
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .effect-section {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url(../images/Effective-tablet@2.jpg);
      }
    }

  .effect-title {
    max-width: 496px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
  /* Effective Solutions  END*/
  .effective-title-span {
    text-transform: lowercase;
  }

  /*  Solutions for Your Busines */
  .solution-business {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantage-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .advantage-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .quality-item {
    text-align: start;
  }
  /*  Solutions for Your Busines END */

  /* Our Team */

  .team {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-lis {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }

  /* Our Portfolio */

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .list-name-page {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* Our Portfolio END */
  /* Footer */

  .logo-social {
    display: flex;
  }
  .subcscribe {
    text-align: start;
  }
  .footer-face {
    max-width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .social-info {
    margin-bottom: 0;
  }
  .logo-footer {
    justify-content: start;
  }

  .social-media-link {
    text-align: start;
  }

  .telegram-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .input-information {
    width: 264px;
    margin-bottom: 0;
  }

  .button-telegram {
    margin: 0;
  }

  /* MODAL */

  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
    min-height: 584px;
  }
  /* MODAL END */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  /* HEADER */

  .mail-nav {
    gap: 40px;
    flex-direction: row;
  }

  .item-mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02px;
  }
  /* HEADER END */

  /* Effective Solutions */
  .effect-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/effective-pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
  }
@media screen and (min-width: 1158px) {
  .effect-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/effective-pc.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .effect-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/Effective-pc@2.jpg);
  }
}











  .effect-title {
    margin-bottom: 48px;
  }
  /* Effective Solutions  END*/

  /* Solutions for Your Business */
  .solution-business {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantage-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .quality-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .quality-item-info {
    font-weight: 400;
  }

  .icon-info {
    display: flex;
    max-width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }
  /* Solutions for Your Business END*/
  /* TEAM */
  .item-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  /* TEAM  END*/

  /* OUR PORTFOLIO */
  .portfolio-list {
    gap: 48px 24px;
  }
  .list-name-page {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* OUR PORTFOLIO END */

  /* FOOTER */

  .footer-face {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-info {
    padding: 100px 0;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
  }

  .conclusion {
    margin-bottom: 0;
  }
  .subcscribe {
    text-align: start;
  }
  .list-media-link {
    margin-bottom: 0;
  }

  .subscribe-telegram {
    justify-content: end;
  }
}
/* FOOTER END */

/* MODAL*/

.modal {
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (min-width: 768px) {
  .mobile-close {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-info .container {
    width: 584px;
  }
}
